*.aux
*.bbl
*.bcf
*.bcf
*.blg
*.fls
*.env
!packaging/rpi/openarcade.env.example
*.fdb_latexmk
sdkconfig.*
**.aux
**.bbl
**.bcf
**.bcf
**.blg
**.fls
**.fdb_latexmk
**.env
!packaging/rpi/openarcade.env.example
**/build/
**/__pycache__/
*.cache
node_modules/
node_modules
server/config.json


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
